#####################################################################
#
# let's ignore some useless / trash contents
#
#####################################################################

# java bytecodes folder
out
